{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
{{ form_start(event_form) }}
        {{ form_row(event_form.nom) }}
        {{ form_row(event_form.date) }}
        {{ form_row(event_form.contenu) }}
        {{ form_row(event_form.image) }}
        <button type="submit" class="btn">finish</button>
    {{ form_end(event_form) }}
{% endblock %}
